<a href="https://colab.research.google.com/github/vMINv/pythonBasic/blob/main/PythonDay4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
####################### IF ####################################


# 1. 사용자로부터 입력 받은 시간이 정각인지를 판별하세요

# 02:00   정각입니다.
# 02:10   정각이 아닙니다.
# 11:23   정각이 아닙니다.

# Hint - 항상 정각은 끝에 두자리가 00으로 끝난다. 

time = input("현재시간을 입력하세요 > ")

if time[-2:] == "00":
  print("정각입니다.")
else:
  print("정각이 아닙니다.")

현재시간을 입력하세요 > 02:00
정각입니다.

In [ ]:
# 슬라이싱

txt = "i love you"

txt[0:6]

txt[-1]

txt[-2:]

'ou'

In [ ]:
# 2

warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]

종목 = input("종목명: ")
if 종목 in warn_investment_list:
    print("투자 경고 종목입니다.")
else:
    print("투자 경고 종목이 아닙니다.")


#Hint : in 연산자

종목명: Google
투자 경고 종목입니다.

In [ ]:
# 3

txt = input("한 글자만 입력하세요 >")

if txt.islower():
  print(txt.upper())
else:
  print(txt.lower())
  

# Hint : .lower()    .upper()

한 글자만 입력하세요 >S
s

In [ ]:
# 4

no = int(input("학생의 점수를 입력하세요 > "))

if no >= 90:
  grade = 'A'
elif no >= 80:
  grade = 'B'
elif no >= 70:
  grade = 'C'
elif no >= 60:
  grade = 'D'
else:
  grade = 'F'

if no % 10 >= 0 and no % 10 <= 3:
  grade2 = '-'
elif no % 10 >= 4 and no % 10 <= 6:
  grade2 = '0'
else:
  grade2 = '+'

print(f'입력하신 학생의 학점은 {grade}{grade2}입니다.')

# 문제 2가지 100점인 학생이 A-
#            F점대 학생들도 + 0 - 가 나옴

학생의 점수를 입력하세요 > 59
입력하신 학생의 학점은 F+입니다.

In [ ]:
####################### For ####################################

# 5
list = [ 3, -20, -3, 44]
for i in list:
  if i < 0:
    print(i)

-20
-3

In [ ]:
# 6

list = [3,100,23,44,6,9]

for i in list :
  if i % 3 == 0 :
    print(i)

3
6
9

In [ ]:
# 7 

list = ["I", "study", "python", "language", "!"]
for i in list:
  if len(i) >= 3:
    print(i)

# hint : len()

study
python
language

In [ ]:
# 8 for 문을 사용하여 대문자만을 출력하라

list = ["A", "b", "c", "D"]

for i in list :
  if i == i.upper() :
    print(i)

In [ ]:
# 9

l1 = ['dog', 'cat', 'parrot']

for i in l1:
  c1 = i[0]   # 인덱싱 첫글자
  c2 = c1.upper()
  print(c2 + i[1:])

Dog
Cat
Parrot

In [ ]:
l1 = ['dog', 'cat', 'parrot']

for i in l1:
  print(i[0].upper() + i[1:])

Dog
Cat
Parrot

In [ ]:
# 10


for i in ['hello.py', 'ex01.py', 'intro.hwp']:
  print(i.split('.')[0])

hello
ex01
intro

In [ ]:
# 11

sum = 0
for i in range(1, 11):
  if i % 2 == 1:
    sum += i
print(sum)

In [ ]:
# 12


my_list = ["가", "나", "다", "라"]

print(my_list[3], my_list[2])
print(my_list[2], my_list[1])
print(my_list[1], my_list[0])

라 다
다 나
나 가

In [ ]:

my_list = ["가", "나", "다", "라"]

print(my_list[3], my_list[2])
print(my_list[2], my_list[1])
print(my_list[1], my_list[0])

In [ ]:
my_list = ["가", "나", "다", "라"]

for i in [3,2,1]:
  print(my_list[i], my_list[i-1])

라 다
다 나
나 가

In [ ]:
list = ["가", "나", "다", "라"]
for i in range(len(list)-1, 0, -1):
  print(list[i], list[i-1])

라 다
다 나
나 가

In [ ]:
# 13

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]


for i in (range(1,len(ohlc))):
  print(ohlc[i][3])

100
190
310

In [ ]:
# 14

total = 0
while total <= 50:
  total += int(input('더할 수 입력 : '))
print(total)

더할 수 입력 : 10
더할 수 입력 : 30
더할 수 입력 : 20
60

In [ ]:
# 15

num = 0
while num <= 5:
  num = int(input('수 입력 : '))
print(num)

In [ ]:
# 16

by 김도영

a = 0
while True:
    a = int(input("10 ~ 20 숫자 입력 > "))
    if a > 20:
        print("Too high")
    elif a < 10:
        print("Too low")
    else:
        print("Thank you")
        break

10 ~ 20 숫자 입력 > 4
Too low
10 ~ 20 숫자 입력 > 3
Too low
10 ~ 20 숫자 입력 > 40
Too high
10 ~ 20 숫자 입력 > 33
Too high
10 ~ 20 숫자 입력 > 11
Thank you

In [ ]:
# 17

import random

compnum = random.randrange(1, 101)

13

In [ ]:
#17

import random

compnum = random.randrange(1, 101)
count = 0
while True:
    a = int(input("1 ~ 100 숫자 입력 > "))
    if a > compnum:
        print("Too high")
        count += 1
    elif a < compnum:
        print("Too low")
        count += 1
    else:
        print(f"Well done. you took {count} attempts")
        break

1 ~ 100 숫자 입력 > 50
Too high
1 ~ 100 숫자 입력 > 25
Too high
1 ~ 100 숫자 입력 > 40
Too high
1 ~ 100 숫자 입력 > 33
Too high
1 ~ 100 숫자 입력 > 29
Too high
1 ~ 100 숫자 입력 > 27
Too high
1 ~ 100 숫자 입력 > 26
Too high
1 ~ 100 숫자 입력 > 25
Too high
1 ~ 100 숫자 입력 > 23
Too high
1 ~ 100 숫자 입력 > 22
Too high
1 ~ 100 숫자 입력 > 21
Too high
1 ~ 100 숫자 입력 > 20
Too high
1 ~ 100 숫자 입력 > 10
Too high
1 ~ 100 숫자 입력 > 5
Too high
1 ~ 100 숫자 입력 > 32
Too high
1 ~ 100 숫자 입력 > 3
Too low
1 ~ 100 숫자 입력 > 4
Well done. you took 16 attempts