<a href="https://colab.research.google.com/github/vMINv/pythonBasic/blob/main/Pythonday2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 문자열 함수들(매서드들)


# 문자 개수 세기 count

a = "school"
a.count('o')

2

In [ ]:
# 위치 알아내기 (find) 만약 없는 문자를 찾는 경우 -1 출력

a = "school"
print(a.find('o'))
print(a.find('z'))

3
-1

In [ ]:
# 위치 알아내기 (index) 만약 없는 문자를 찾는 경우 오류 출력

a = "school"
print(a.index('o'))
# print(a.index('z'))

3

In [ ]:
# 문자 삽입 join

print(" ".join("abcd"))
print(",".join("abcd"))

a b c d
a,b,c,d

In [ ]:
# 대문자로 바꾸기 upper

a = 'Hello'

a.upper()

'HELLO'

In [ ]:
# 소문자로 바꾸기 lower

a = 'Hello'

a.lower()

'hello'

In [ ]:
# 공백 제거 왼쪽 lstrip
a = ' Hello'
a.lstrip()

'Hello'

In [ ]:
# 공백 제거 오른쪽 rstrip

a = 'Hello '
a.rstrip()

'Hello'

In [ ]:
# 공백 제거 오른쪽/왼쪽 strip

a = ' Hello '
a.strip()

'Hello'

In [ ]:
# 글자 바꾸기 replace

a = 'I love you'
a.replace('love', 'hate')

'I hate you'

In [ ]:
# 문자열 나누기 split

addr = "서울시 강남구 서초동 1111"
print(addr.split())  # 생략하면 빈칸을 기준으로 분리한다. 

addr = "서울시,강남구,서초동,1111"
print(addr.split(','))  # 생략하면 빈칸을 기준으로 분리한다. 
print(type(addr.split(',')))

['서울시', '강남구', '서초동', '1111']
['서울시', '강남구', '서초동', '1111']
<class 'list'>

In [ ]:
# LIST, TUPLE, DICT, SET  
# 여러 데이터들의 묶음 Collection 컬렉션

# LIST 
#  [] 대괄호로 만든다.  
#  indexing & slicing 이 가능하다. 
#  ordered 순서가 있다.
#  mutable 수정 가능하다.

In [ ]:
a = []
b = [1,2,3]
c = ['a','b','c']
d = [1, 2, 'a', 'b']

print(b[0])  #인덱싱
print(c[1:]) #슬라이싱
print(d[-1]) #마지막 요소는 -1

# a[0] = 9   # a 리스트에는 아무 원소도 없어서 에러 발생
b[0] = 9     # b 리스트는 원소가 있으므로 수정 가능
print(b)

print(c)
del c[2]     # 리스트는 삭제가 가능하다. 
print(c)

print(a)
a.append(0)  # 리스트는 삽입이 가능하다. 
print(a)

In [ ]:
# 리스트에서 많이 사용되는 함수 정리

# 요소 추가 append  마지막에 요소추가
a.append(0)   
print(a)
a.append('a') 
print(a)

# 요소 추가 insert 특정 위치를 지정하여 맘대로 요소 추가
d = [1,2,3]
d.insert(0,4)

# 정렬 sort
a = [1,3,2,4]
a.sort()
print(a)

# 뒤집기 reverse
a.reverse()
print(a)

# 인덱스 index
a.index(3)
# a.index(5)  없는 요소는 에러 발생한다.

[1, 3, 3, 5, 0]
[1, 3, 3, 5, 0, 'a']
[1, 2, 3, 4]
[4, 3, 2, 1]

[1, 2, 3, 5]

In [ ]:

# 삭제 remove  중복되는 수는 처음 등장하는 하나만 삭제한다. 
print()
a = [1,2,3,3,5]
a.remove(3)
print(a)

# 삭제 pop  리스트의 마지막 요소를 삭제한다. 
a = [1,2,3]
a.pop()  # 괄호에 값이 없으면 마지막 요소를 하나 삭제
print(a)

a = [1,2,3]
a.pop(0) # 괄호에 값이 있으면 그 요소를 삭제
print(a)

# 개수 세기 count  특정 요소의 갯수 세기

a = [1,2,3,3]
print(a.count(3))

[1, 2, 3, 5]
[1, 2]
[2, 3]
2

In [ ]:
# TUPLE 
#  () 소괄호로 만든다.
#  immutable 수정이 불가능하다.
#  indexing & slicing 이 가능하다. 
#  ordered 순서가 있다.
#  한 개의 요소로 tuple을 만들때는 (1,) 쉼표를 괜히 넣는다. 

a = ()
b = (1,) #한 개의 요소로 tuple을 만들때는 (1,) 쉼표를 괜히 넣는다. 
c = (1,2,3)
d = (1,2,'a','b')

# del d[0]    immutable 삭제가 불가능하다. 
# d[0] = 9    immutable 수정이 불가능하다. 
# d.append(5) immutable 삽입이 불가능하다.  

print(d[0])   # 인덱싱이 가능하다. 
print(d[0:2]) # 슬라이싱이 가능하다. 마지막은 미만으로 처리한다. 

print(len(d)) # 튜플 요소의 개수를 반환하는 함수

1
(1, 2)
4

In [ ]:
# DICT
#  {} 중괄호로 만든다. 
#  mutable 수정 가능하다. 
#  indexing & slicing 이 불가능하다.
#  unordered 순서가 없다.
#  키값과 밸류 값으로 데이터가 저장된다. 

# 세상의 많은 데이터가 키값:밸류값 형태로 표현된다. 이름:홍길동, 나이:20 
# 이러한 대응 관계를 파이썬에서 데이터를 저장하는 방식을 딕셔너리라고 한다. 
# 마치 JS 의 JSON 과 상당히 유사한 공통점을 가지고 있다. 

a = {'이름':'홍길동', '나이':20}
b = {'이름':'홍길동', '나이':20, '보유코인':['비트코인','에이다','이더리움']}

a['키'] = 185   # dict 는 mutable 한 속성으로 삽입이 가능하다. 
print(a)
del a['나이']   # dict 는 mutable 한 속성으로 삭제도 가능하다. 
print(a)
a['키'] = 190   # dict 는 mutable 한 속성으로 수정도 가능하다. 
print(a)

# a[0]          # dict 는 인덱싱이 불가능하다. 
# a[0:2]        # dict 는 슬라이싱이 불가능하다.

{'이름': '홍길동', '나이': 20, '키': 185}
{'이름': '홍길동', '키': 185}
{'이름': '홍길동', '키': 190}

In [ ]:
# 딕셔너리에서 많이 사용되는 함수 정리
# 딕셔너리에서 키값들만 추출

a = {'이름':'홍길동', '나이':20, '보유코인':['비트코인','에이다','이더리움']}
print(a.keys())

# 딕셔너리에서 밸류값들만 추출
print(a.values())

# 쌍으로 추출  (튜플 쌍으로 추출)
print(a.items())

# 키값으로 밸류값 추출 
print(a.get('이름'))
print(a.get('몸무게'))  # 찾는 키값이 없을때 None 출력한다. 

# 키값으로 밸류값 추출 (인덱싱이 불가능하기 때문에 꺼낼때 많이 사용된다. )
print(a['이름'])
# print(a['몸무게'])      # 찾는 키값이 없을때 예외 발생된다. 

# 키가 딕셔너리안에 있는지 확인
print('이름' in a)               # 찾는 키값이 있을때 true 반환
print('몸무게' in a)             # 찾는 키값이 없을때 false 반환

dict_keys(['이름', '나이', '보유코인'])
dict_values(['홍길동', 20, ['비트코인', '에이다', '이더리움']])
dict_items([('이름', '홍길동'), ('나이', 20), ('보유코인', ['비트코인', '에이다', '이더리움'])])
홍길동
None
홍길동
True
False

In [ ]:
# SET
#  {} 중괄호로 만든다. 
#  mutable 수정 가능하다. 
#  indexing & slicing 이 불가능하다.
#  unordered 순서가 없다.
#  중복데이터를 허용하지 않는다. 

# a = {}  # 딕셔너리와 셋은 동일하게 {} 를 사용한다. 따라서 빈 값으로 생성할때는 주의하자. 
a = set()
b = {1,2,3}
c = {1,2,'a','b'}
d = {1,2,2,2,3,4,4}
print(d)

a.add(0)     # mutable 삽입 가능하다.
print(a)
print(c)
c.remove(2)  # mutable 삭제 가능하다.
print(c)

{1, 2, 3, 4}
{0}
{'b', 1, 2, 'a'}
{'b', 1, 'a'}

In [ ]:
# 불 Bool 자료형 boolean

# 반드시 대문자로 시작한다. 

a = True
b = False
c = "true"

print(type(a))
print(type(c))

print(1 == 1)
print(1 != 1)

<class 'bool'>
<class 'str'>
True
False

In [ ]:
# 키보드로 입력 받기 

a = input()
print(a)

하이
하이

In [ ]:
a = input("지금이 오후인가요?")
print(a)

지금이 오후인가요?네네
네네

In [ ]:
# 파이썬에서 input 은 항상 일단 먼저 모두 문자 취급한다. 

#a = input("지금이 몇시에요")
#print(a+1)

a = int(input("지금 부터 한시간 뒤는 몇 시 인가요"))
print(a+1)

지금이 몇시에요3
4

In [ ]:
dict = {}

q1 = input("food u like :")
dict[1]= q1

q2 = input("food u like :")
dict[2]= q2

q3 = input("food u like :")
dict[3]= q3

q4 = input("food u like :")
dict[4]= q4

print(dict)

food u like :커피
food u like :밥
food u like :콜라
food u like :라면
{1: '커피', 2: '밥', 3: '콜라', 4: '라면'}